{% extends "layout.html" %}
    {% block content %}
        <form id="myform" method="post" action="submit.php">

            <div class="form-group" style="width:300px">
                    <div class="centered"> Registration Injection Probe Cell </span>
                    {{ form.channel488()}}
            </div>

            <!-- <legend>Select standard pizza toppings</legend> 
                <ul class="checkbox"> 
                  <li><input type="checkbox" id="cb1" value="pepperoni" /><label for="cb1">Pepperoni</label></li> 
                  <li><input type="checkbox" id="cb2" value="sausage" /><label for="cb2">Sausage</label></li> 
                  <li><input type="checkbox" id="cb3" value="mushrooms" /><label for="cb3">Mushrooms</label></li> 
                  <li><input type="checkbox" id="cb4" value="onions" /><label for="cb4">Onions</label></li> 
                  <li><input type="checkbox" id="cb5" value="gpeppers" /><label for="cb5">Green Peppers</label></li> 
                  <li><input type="checkbox" id="cb6" value="xcheese" /><label for="cb6>">Extra Cheese</label></li> 
                </ul> 
 -->

        </form>

    {% endblock content %}