{% extends "layout.html" %}
	{% block content %}
	<a class="infolink" data-toggle="tooltip" title="Hooray!">Hover over me</a>


	<table>
        <tr>
            <th>channel</th>
            <th class="infolink" data-toggle="tooltip" title="You're doing it peter">Registration</th>
            <th>Injection detection</th>
            <th>Probe detection</th>
            <th>Cell detection</th>
        </tr>
        <tr>   
            <td>488</td>
            <td>488</td>
            <td>488</td>
            <td>488</td>
            <td>488</td>

        </tr>
    </table>
	{% endblock content %}